<h1>Welcome to My New Web app</h1>
<div class="box col-10 offset-1">

<p>I am in week 3 of bootcamp and so far so good!
 Still trying to learn all the basic stuff that is 
 need to become a Web Developer. 
 There is still a lot I have yet to learn but I will get there. 
</p>

<p> Ruby is soemthing that will take some time to master
not sure it will ever happen but I just need to keep learing.
</p>
</div>