@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Radley&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');

body {
    font-family:  'Radley', serif;
    background-image: image_url('brushed_alu_dark');

    }

.navbar {
    background: image_url('dark_wood');
    box-shadow: 2px 2px red;


}

.navbar-inverse .navbar-brand {
  color: #aa0911;
  font-family: 'Kumar One Outline', cursive;
  font: size 26px;

}

h1 {
   font-family: 'Berkshire Swash', cursive;
   text-shadow: 1px 1px red;
   color: black;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #585454;
  background: #fff;
  border: 1px solid rgb(146, 255, 170);
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  }

p {
    font-family: 'Kelly Slab', cursive;
    color: black;
    font-size: 15px;
}

.links {
  color: #aa0911,

}


.box {
  
  
  background: none;
  
  border-color: none;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  }
